html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    link(rel='styelsheet', href='https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap', type='text/css')
    title= "Social dashboard"
    style
      include main.css
  body
    .head
        .title
            h1 Social Media Dashboard
            p Total Followers: 23,004
        .mode
            h3 Dark Mode
            label.switch 
                input(
                    type='checkbox'
                    name='mode'
                    onClick='myFunction()'
                )
                span.slider.round

    .main-stat
        .block-stat.facebook
            .name-soc
                img(src="images/icon-facebook.svg", alt="")
                p.social @nathanf
            h1.number 1998
            p.followers followers
            .change
                img(src="images/icon-up.svg", alt="") 
                .p.up 12 Today

        .block-stat.twitter
            .name-soc
                img(src="images/icon-twitter.svg", alt="")
                p.social @nathanf
            h1.number 1044
            p.followers followers
            .change
                img(src="images/icon-up.svg", alt="") 
                .p.up 99 Today

        .block-stat.instagram
            .name-soc
                img(src="images/icon-instagram.svg", alt="")
                p.social @nathanf
            h1.number 11k
            p.followers followers
            .change
                img(src="images/icon-up.svg", alt="") 
                .p.up 1099 Today
                
        .block-stat.youtube
            .name-soc
                img(src="images/icon-youtube.svg", alt="")
                p.social @nathanf
            h1.number 8239
            p.followers Subscribers
            .change
                img(src="images/icon-down.svg", alt="") 
                .p.down 144 Today
    
    .overview
        h2  Overview - Today

        .overview-flex
            .overview-card
                .overview-card-name-stat
                    p Page Views
                    img(src="/images/icon-facebook.svg", alt="", srcset="")
                .overview-card-number
                    p.number 87
                    .change
                        img(src="images/icon-up.svg", alt="") 
                        .p.up 3%

            .overview-card
                .overview-card-name-stat
                    p Likes
                    img(src="/images/icon-facebook.svg", alt="", srcset="")
                .overview-card-number
                    p.number 52
                    .change
                        img(src="images/icon-down.svg", alt="") 
                        .p.down 2%

            .overview-card
                .overview-card-name-stat
                    p Likes
                    img(src="/images/icon-instagram.svg", alt="", srcset="")
                .overview-card-number
                    p.number 5462
                    .change
                        img(src="images/icon-up.svg", alt="") 
                        .p.up 2257%

            .overview-card
                .overview-card-name-stat
                    p Page Views
                    img(src="/images/icon-instagram.svg", alt="", srcset="")
                .overview-card-number
                    p.number 52k
                    .change
                        img(src="images/icon-up.svg", alt="") 
                        .p.up 1375%

        .overview-flex
            .overview-card
                .overview-card-name-stat
                    p Retweets
                    img(src="/images/icon-twitter.svg", alt="", srcset="")
                .overview-card-number
                    p.number 117
                    .change
                        img(src="images/icon-up.svg", alt="") 
                        .p.up 303%

            .overview-card
                .overview-card-name-stat
                    p Likes
                    img(src="/images/icon-twitter.svg", alt="", srcset="")
                .overview-card-number
                    p.number 507
                    .change
                        img(src="images/icon-up.svg", alt="") 
                        .p.up 553%

            .overview-card
                .overview-card-name-stat
                    p Likes
                    img(src="/images/icon-youtube.svg", alt="", srcset="")
                .overview-card-number
                    p.number 107
                    .change
                        img(src="images/icon-down.svg", alt="") 
                        .p.down 19%

            .overview-card
                .overview-card-name-stat
                    p Total Views
                    img(src="/images/icon-youtube.svg", alt="", srcset="")
                .overview-card-number
                    p.number 1407
                    .change
                        img(src="images/icon-down.svg", alt="") 
                        .p.down 12%
    
script.
    function myFunction() {
    var element = document.body;
    element.classList.toggle("dark-mode");
    }
